/* global */

body {
  font-family: "Bree Serif", sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0 20px;
}

article {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  font-weight: 600;
  text-decoration: underline;
}

.post-ads {
  margin: 50px 0;
}

.markdown-body {
  font-size: 18px;
  max-width: 100%;
}

.markdown-body a {
  text-decoration: underline;
  text-decoration-color: #000;
}

.markdown-body blockquote {
  margin: 0;
  padding: 0 1em;
  color: #57606a;
  border-left: 0.25em solid #d0d7de;
}

.markdown-body pre {
  padding: 16px;
  overflow: auto;
  /* border-radius: 10px; */
}

.markdown-body code {
  padding: 0.2em 0.4em;
  font-size: 85%;
  background-color: #f6f8fa;
  border-radius: 6px;
}

/* reset code */

.markdown-body pre > code {
  padding: 0;
  background-color: inherit;
  border: 0;
  font: normal 14.4px/24px "IBM Plex Mono", Menlo, Consolas, monospace;
}

/* i18n */

.Chinese .markdown-body {
  line-height: 200%;
}

/* header */

.site-date-catalog {
  font-size: 2rem;
}

.header-title {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 32px;
  font-family: "Bungee Shade", sans-serif;
}
.header-title a {
  text-decoration: none;
}

.header-subtitle {
  color: #666;
}

.header-items {
  margin: 10px 0;
}

.header-item {
  margin: 0 5px;
}

.header-line {
  width: 100%;
  border-width: 2px;
  border-color: #482936;
  border-style: solid none none none;
}

.lang-switch {
  font-weight: 600;
}

/* posts list */

#posts-list {
  min-height: 600px;
}

.posts-line {
  font-size: 1.2rem;
  margin: 12px 0;
}

.posts-categories {
  font-size: 0.8rem;
  margin: auto;
  text-align: center;
}

.posts-category {
  /* padding: 3px 0;
  border: #000 2px solid;
  border-radius: 5px; */
  margin-bottom: 3px;
}

.site-footer {
  margin-top: 50px;
  /* margin-bottom: 80px; */
  /* display: flex; */
  /* justify-content: flex-end; */
  /* flex-wrap: wrap; */
  /* padding: 12px 0; */
  /* border-width: 3px; */
  /* border-style: solid none; */
  /* border-color: #000; */
}

.site-footer-item {
  margin-right: 12px;
}

/* post */

.post-content img {
  max-width: 100%;
  display: block;
  margin-right: auto;
  margin-top: 12px;
}

.post-header {
  margin-bottom: 50px;
}

.post-title {
  font-size: 2rem;
  font-weight: 600;
}

.post-tags {
  display: inline;
  font-weight: 600;
  padding: 2px 5px;
  margin-right: 6px;
  border: #000 2px solid;
  border-radius: 5px;
}

.post-date {
  font-weight: 800;
  font-style: italic;
}

.post-author {
  float: right;
  font-weight: 600;
}

.page-content {
  min-height: 60%;
}

.post-content {
  margin-bottom: 50px;
}

.post-content p {
  hyphens: auto;
  line-height: 1.8;
  /* text-align: justify; */
  text-justify: ideographic;
  margin-bottom: 1em;
}

.related-content {
  border-width: 3px;
  border-style: solid;
  border-color: #000;
  padding: 0 10px;
  margin-bottom: 50px;
  margin-top: 100px;
}

.related-content li {
  margin: 5px 0;
}

/* taxonomy */

.taxonomy-term {
  font-size: 3rem;
}

/* gallery */

.gallery-img {
  text-align: center;
}

.gallery-img span {
  text-align: center;
}

.gallery-img-desc {
  font-size: 0.8em;
  font-weight: 800;
}

/* disqus */

#disqus_thread {
  position: relative;
}

#disqus_thread:after {
  content: "";
  display: block;
  height: 55px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: white;
}

@media screen and (max-width: 600px) {
  .header-title,
  .header-subtitle,
  .header-items {
    text-align: center;
  }

  .posts-line {
    font-size: 16px;
  }

  .markdown-body {
    font-size: 16px;
  }
  .post-title {
    font-size: 2rem;
  }
  .post-content p {
    letter-spacing: 0.05em;
  }
}

@media screen and (max-width: 48em) {
  .posts-category {
    display: none;
  }
}

.admonition {
  margin: 0 -20px;
  padding: 5px 20px;
}
.admonition .admonition-title {
  font-weight: bold;
  margin-bottom: 0px;
  margin-right: 5px;
  float: left;
}

.admonition.warning {
  background: #FBE9E7;
  color: #a30000;
  margin: 0 -20px;
  padding: 5px 20px;
}

.admonition.sourcecode {
  background: rgba(38, 139, 210, 0.1);
}

.admonition.tryit {
  background: #b9f6ca;
}
.admonition.tryit .codehilite {
  background-color: transparent;
  color: inherit;
  margin: 0px 0px;
}
.admonition.tryit .codehilite .c {
  color: grey;
}

.content {
  padding-top: 20px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.box {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;
}

.box-centered {
  text-align: center;
}

.box-white {
  background: white;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 8px #aaa;
  border-radius: 5px;
}

.aside {
  position: absolute;
  right: 0;
  top: 0;
  width: 240px;
  text-align: left;
  font-size: 0.8em;
  margin-right: -280px;
}

@media only screen and (max-width: 1280px) {
  .box {
    width: auto;
    left: 0px;
    right: 0px;
    margin: 0px;
  }

  .box-white {
    border: none;
  }

  .content {
    width: auto;
    left: 0px;
    right: 0px;
    margin: 0px;
  }

  .aside {
    margin-right: 0px;
    position: relative;
    right: 0px;
    width: auto;
    font-size: 0.8em;
    line-height: 1.5em;
    background-color: rgba(128, 128, 128, 0.1);
    display: block;
    padding: 5px;
  }

  body {
    padding: 5px;
  }

  div.codehilite {
    font: normal 10px/13px "IBM Plex Mono", Menlo, Consolas, monospace;
    margin: 0px -5px;
    padding: 5px 5px;
  }
}

code {
  font: normal 14.4px/24px "IBM Plex Mono", Menlo, Consolas, monospace;
  white-space: pre;
}

.aside code {
  font: normal 12.96px/21.6px "IBM Plex Mono", Menlo, Consolas, monospace !important;
}

pre {
  font: normal 16px/24px "IBM Plex Mono", Menlo, Consolas, monospace;
}

div.epigraph blockquote {
  margin-right: 0px;
  float: right;
  font-style: italic;
}
div.epigraph blockquote .footer {
  font-style: normal;
  text-align: right;
}

figure {
  margin-left: auto;
  margin-right: auto;
}

figure img {
  margin-left: auto;
}

figcaption {
  font-size: 0.87em;
  color: #3c40439c;
  text-align: center;
}

figcaption a {
  color: #3c40439c;
}